@import 'global';

common-lists {
  @include max-width-container;
}

common-list-info {
  @include row;
  margin-bottom: 20px;
  text-align: center;

  common-list-info-name {
    @include primary-font(24px, $primary-color, 700);
    display: block;

    img {
      height: 18px;
      width: auto;
      margin-left: 10px;
    }
  }

  common-list-info-user {
    @include secondary-font(16px, $primary-color, 400);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

    img {
      @include border-radius(50%);
      height: 24px;
      width: auto;
      margin-right: 10px;
    }
  }

  &:last-child {
    margin-bottom: 20px + 20px + 48px;
  }
}

common-empty {
  @include primary-font(24px);
  color: $color-light-gray;
  margin-top: 40px;
  display: flex;
  justify-content: center;

  img {
    height: 24px;
    width: auto;
    margin-right: 10px;
  }
}

toast {
  position: fixed;
  width: 100%;
  bottom: 80px;
  text-align: center;
  z-depth: 9999;
}

toast-message {
  @include max-width-container;
  @include secondary-font(16px, white, 400);
  padding: 10px 0;
  background: $color-dark-gray;
  text-align: center;
}
