@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700');

@mixin primary-font($size: 14px, $color: black, $weight: 400) {
  font-family: 'Lora', serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin secondary-font($size: 14px, $color: black, $weight: 400) {
  font-family: 'Raleway', sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

$primary-color: #333333;
$secondary-color: #95989A;

$mobile: new-breakpoint(max-width 500px 12);
