@import 'bourbon';
@import 'global';

home-filters {
  @include media($mobile) {
    @include span-columns(12);
  }
  margin-top: 10px;
  margin-bottom: 30px;
  @include secondary-font(16px, $secondary-color);

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 30px;
  }

  li.active {
    font-weight: bold;
  }
}

home-lists {
  @include media($mobile) {
    @include span-columns(12);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include row;
    @include primary-font(24px, $primary-color, 700);
    margin-bottom: 20px;
    text-align: center;
  }
}

#home-new-list {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: auto;
  cursor: pointer;
}

home-create-list-form {
  @include media($mobile) {
    @include span-columns(12);
  }
  position: relative;
}

home-create-list-form input[type=text] {
  @include secondary-font(20px, $color-black, 400);
  @include calc(width, "100% - 40px");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid $color-light-gray;
  padding: 0 (10px + 24px + 5px + 24px + 10px) 10px 10px;
}

home-create-list-form input[type=text]:focus {
  outline: none;
  border-color: $color-blue;
}

#home-create-list-form-submit {
  width: 24px;
  height: 24px;
  @include background(url($images-path + 'add-blue.svg') no-repeat center);
  background-size: 24px 24px;
  display: block;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px;
}

home-create-list-form-close {
  width: 24px;
  height: 24px;
  @include background(url($images-path + 'close-blue.svg') no-repeat center);
  background-size: 24px 24px;
  display: block;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px + 24px + 5px;
}
