@import 'global';
@import 'quick_add_form';

home-filters {
  @include max-width-container;
  margin-top: 10px;
  margin-bottom: 30px;
  @include secondary-font(16px, $secondary-color);

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 30px;
  }

  li.active {
    font-weight: bold;
  }
}
