@import 'global';
@import 'quick_add_form';

list-topbar-save {
  height: 20px;
  display: flex;
  align-items: center;
}

#list-topbar-save-ring {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

list-topbar-text {
  @include secondary-font(20px, $color-gray);
}

list-info {
  @include max-width-container;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  img {
    height: 18px;
    width: auto;
    margin-left: 10px;
  }
}

list-info-name {
  @include primary-font(24px, $color-black, 700);
}

list-items {
  @include max-width-container;
}

list-item {
  @include calc(width, "100% - 20px");
  border-bottom: 1px solid $color-light-gray;
  display: block;
  margin: 0 auto 20px auto;
  padding: 0 10px 20px 10px;

  &:last-child {
    border: none;
    margin-bottom: 20px + 48px;
  }
}

list-item-name {
  @include secondary-font(18px, $color-gray, 400);
}

list-item-info {
  @include secondary-font(14px, $color-gray, 400);
  display: flex;
  justify-content: center;
  height: 30px;
}

list-item-info-right {
  position: absolute;
  right: 20px;
  display: block;
  height: 20px;
}

list-item-info-right-done {
  display: flex;
  align-items:center;
  height: 20px;

  img {
    height: 18px;
    width: auto;
    margin-right: 5px;
  }
}

list-item-info-left {
  position: absolute;
  left: 20px;
  display: block;
  height: 20px;

  img {
    height: 20px;
  }
}
