@import 'global';

list-topbar-save {
  height: 20px;
  display: flex;
  align-items: center;
}

#list-topbar-save-ring {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

list-topbar-text {
  @include secondary-font(20px, $color-gray);
}

list-info {
  @include media($mobile) {
    @include span-columns(12);
  }
  margin-top: 20px;
  text-align: center;
}

list-info-name {
  @include primary-font(24px, $color-black, 700);
}

list-items {
  @include media($mobile) {
    @include span-columns(12);
  }
  margin-top: 20px;
}

list-items ul {
  @include row();
  list-style-type: none;
  margin: 0;
  padding: 0;
}

list-items ul li {
  @include calc(width, "100% - 20px");
  @include secondary-font(18px, $color-gray, 400);
  border-bottom: 1px solid $color-light-gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 20px 10px;
}
