@import 'global';

options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  options-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      margin-bottom: 10px;

      &:last-child { margin-bottom: 0; }
    }
  }

  > * {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }
  }
}

upload-profile-picture {
  @include calc(width, '100% - 40px');
  @include calc(max-width, 200px);
  @include border-radius(50%);
  overflow: hidden;
  text-align: center;
  display: block;
  
  img {
    width: 100%;
    height: auto;
  }
}

@mixin options-option($background, $font-color: #333333) {
  @include secondary-font(24px, #333333, 700);
  @include calc(width, '100% - 40px');
  @include calc(max-width, 800px);
  @include border-radius(6px);
  background: $background;
  color: $font-color;
  text-align: center;
  display: block;
  padding: 6px 0;
  cursor: pointer;
}

options-option { @include options-option(white); }
options-option-red { @include options-option(#DA3C2A, white); }
options-option-yellow { @include options-option(#F4F435); }
