@import 'neat';
@import 'global';
@import 'topbar';
@import 'home';
@import 'auth';
@import 'list';
@import 'quick_add_form';

body {
  background: white;
  margin: 0;
  padding: 0;
}

section {
  @include outer-container;
  @include primary-font(25px);
}
