@import 'global';

user-topbar-center {
  @include secondary-font(20px, $color-black, 400);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    @include border-radius(50%);
    height: 24px;
    width: auto;
    margin-right: 10px;
  }
}
